body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e1e;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #555;
    color: white;
}

.equal {
    grid-row: span 2;
    background: #ff9500;
    color: white;
}

.zero {
    grid-column: span 2;
}
git remote add origin